*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka One', cursive;
}
/* The switch - the box around the slider */
.switch {
    display: block;
    --width-of-switch: 3.5em;
    --height-of-switch: 2em;
    /* size of sliding icon -- sun and moon */
    --size-of-icon: 1.4em;
    /* it is like a inline-padding of switch */
    --slider-offset: 0.3em;
    position: relative;
    width: var(--width-of-switch);
    height: var(--height-of-switch);
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f5f4f4;
    transition: .4s;
    border-radius: 30px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: var(--size-of-icon,1.4em);
    width: var(--size-of-icon,1.4em);
    border-radius: 20px;
    left: var(--slider-offset,0.3em);
    top: 50%;
    transform: translateY(-50%);
    background: linear-gradient(40deg,#ff0080,#ff8c00 70%);
    ;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #303136;
  }
  
  input:checked + .slider:before {
    left: calc(100% - (var(--size-of-icon,1.4em) + var(--slider-offset,0.3em)));
    background: #313630;
    /* change the value of second inset in box-shadow to change the angle and direction of the moon  */
    box-shadow: inset -3px -2px 5px -2px #8983f7, inset -10px -4px 0 0 #a3dafb;
  }

  /* Dark mode */
  body.dark-mode {
    background-color: #303136;
    color: #f5f4f4;
}

/* Font beállítások */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    color: #333;
    margin: 0;
    padding: 0;
}
 
/* Fejléc */
header {
    background-color: #000;
    color: #fff;
    padding: 1rem;
    text-align: center;
}
 
header h1 {
    margin: 0;
    font-size: 3rem;
    letter-spacing: 0.2rem;
    animation: 2s ease-in-out 0s 1 slideInFromTop;
}
 
/* Szöveg */
section {
    padding: 2rem;
    text-align: justify;
    animation: 2s ease-in-out 0s 1 fadeIn;
}
 
section p {
    margin: 1rem 0;
    line-height: 1.5;
}
 
/* Gomb */
section button {
    background-color: #d50000;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    cursor: pointer;
    animation: 2s ease-in-out 0s 1 fadeIn;
}
 
section button:hover {
    background-color: #ff1744;
}
 
/* Lábléc */
footer {
    background-color: #d50000;
    color: #fff;
    padding: 1rem;
    text-align: center;
    animation: 2s ease-in
 }
 button{
    background-color: #d50000;
    color: #fff;
    border: none;
    border-radius: 0.5rem;
    padding: 1rem 2rem;
    font-size: 1.2rem;
    cursor: pointer;
    animation: 2s ease-in-out 0s 1 fadeIn;
 }